#box{
    background-color: azure;
    height: 350px;
    width: 700px;
    border-radius: 10px;
    visibility: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

body{
    background-color: rgb(220, 228, 189);
}

i{
    float: right;
}

.one{
    padding: 20px 10px 0px 10px;
}

.clicks{
    margin-top: 10px;
    border: none;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    background: linear-gradient(
        135deg,
        #3b4036,
        #503481);
}

.submission{
    font-weight: bold;
    margin-top: 15px;
}

#box.show{
    visibility: visible;
}

